@import '../mixins/homemix';
@import '../variables/homevariable';
#blog{
      padding: 110px 0 160px;
      background-color: #F0F0F0;
      .main_blog{
        display: flex;
        gap: 60px;
        .blog_item{
            width: 33.333%;
            position: relative;
            img{
              width: 100%;
            }
            .blog_txt{
              position: absolute;
              top: 0;
              left: 0;
              padding: 75px 0 0 46px;
              h2{
                @include text($ff: $primary_fonts, $fw: 700, $fs: 24px, $clr: $third_color);
                width: 85%;
              }
              a{
                @include text($ff: $primary_fonts, $fw: 600, $fs: 12px, $clr: $third_color);
                text-transform: uppercase;
                margin-top: 52px;
                padding: 10px 20px;
                background: #878381;
                
              }
            }
          }
        }
        .more_blog{
          margin-top: 29px;
          text-align: right;
          a{
          @include text($ff: $primary_fonts, $fw: 700, $fs: 16px, $clr: $primary_color);
          text-transform: uppercase;
        }
      }
}