@import '../mixins/homemix';
@import '../variables/homevariable';
header{
    background-color: #282828;
    border-bottom: 4px solid #FFB800;
    .main_head{
        padding: 16px 0;
        display: flex;
        justify-content: space-between;
        .head_contact{
            display: flex;
            gap: 30px;
            p{
                @include text($ff: $primary_fonts, $fw: 400, $fs: 12px, $clr: $third_color);
                display: flex;
                gap: 10px;
                a{
                    color: $third_color;
                }
            }
        }
        .head_icon{
            ul{
                display: flex;
                gap: 19px;
                li{
                    a{
                        color: $third_color;
                    }
                }
            }
        }
    }
}