// ========= COLORS START =========

$primary_color: #000000;
$secondery_color: #6C6C6C;
$third_color: #FFFFFF;
$brand_color: #F40404;


// ========= COLORS END ===========


// ========= FONTS START ==========


@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
$primary_fonts: 'Poppins', sans-serif;


// ========= FONTS END  ===========